.App {
  text-align: center;
}

.App-counter {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.App-alert {
  position: absolute;
  top: 0;
  left: auto;
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  padding: 26px;
}

.App-log-mount {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid darkorange;
  padding: 16px;
  font-size: 16px;
}

.App-container {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
